body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  height: 100vh;
  background-color: yellow;

  display: grid;

  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  grid-template-columns: 0.3fr 0.7fr;

  grid-template-areas:
    "cabecalho cabecalho"
    "aolado principal"
    "rodape rodape";

  gap: 4px;
  padding: 4px;
}

@media (max-width: 750px) {
  body {
    grid-template-rows: 0.1fr 0.2fr 0.6fr 0.1fr;
    grid-template-columns: 1fr;

    grid-template-areas:
      "cabecalho"
      "aolado"
      "principal"
      "rodape";
  }
}

@media (max-width: 350px) {
    body {
      grid-template-rows: 0.1fr 0.8fr 0.1fr;
      grid-template-columns: 1fr;
  
      grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
    }

    .aolado {
        display: none;
    }
  }

h1 {
  margin: 0;
}

.cabecalho {
  background-color: green;
  grid-area: cabecalho;
}

.principal {
  background-color: blue;
  grid-area: principal;
}

.aolado {
  background-color: purple;
  grid-area: aolado;
}

.rodape {
  background-color: green;
  grid-area: rodape;
}
